@import './general.css';

body {
    background-color: var(--color-background);
    font-family: 'Space Grotesk';
    font-size: 12px;
    margin: auto;
}

.conteudo {
    width: 80%;
    margin: auto;
    background-color: #0e0d1ea9;
    border-left: var(--color-primary) 2px solid;
    border-right: var(--color-secondary) 2px solid;
    border-radius: 20px;
    min-width: 30em;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.menu {
    position: relative;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-background);
    width: 100%;
    margin: 0px;
    margin-top: 7px;
    height: 14%;
    z-index: 1;
}

.menu::before {
    content: '';
    position: absolute;
    inset: 0;
    /* top, right, bottom, left: 0 */
    padding: 2px;
    /* espessura da borda */
    background: linear-gradient(30deg, var(--color-primary), var(--color-secondary));
    border-radius: 19px;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;

}

.title {
    font-family: 'Press Start 2P';
}

#conteudo {
    width: 100%;
}

.listnav {
    color: var(--color-text);
    margin: 0px;
    margin-left: 0px;
    width: 80%;
}

.item {
    display: flex;
    font-size: .8em;
    width: 90%;
    padding: 20px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.primeiroLink {
    font-size: 1.5em;
    position: relative;
    margin-left: 35%;
    color: var(--color-accent-orange);
}

.primeiroLink::before {
    content: 'Valdemir';
    position: absolute;
    inset: 10;
    color: var(--color-accent-purple);
    filter: blur(30px);
    opacity: 0.8;
    z-index: -1;
    animation: flicker 3s infinite;
}

.titleProjetos {
    font-size: 1.5em;
    position: relative;
    color: var(--color-accent-orange);
}


.item:hover {
    text-align: center;
    filter: blur(.5px);
    animation: flicker 1s infinite;
}

#botao {
    width: 10%;
    height: 2em;
    border-radius: 10px;
    color: limegreen;
    background-color: lemonchiffon;
    margin: auto;
}

#botao:disabled {
    margin: auto;
    border-radius: 10px;
    color: rgb(144, 153, 144);
}



#listacursos {
    list-style-type: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

#avatar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.imagemAvatar {
    width: 24em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--color-primary);
    box-shadow: 0 0 1.3em var(--color-primary);
}


.imagemAvatar img {
    width: 24em;
    opacity: .9;
}

#foto:hover {
    scale: 1.01;
    perspective: 1200px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#foto:hover #fotoBack {
    opacity: 1;
}

#fotoBack {
    opacity: 0;
    max-height: 384px;
}


#presentation {
    text-align: left;
    font-size: 3em;
    font-weight: 50;
    margin: 18px;
    font-family: 'VT323';
}

#meunome {
    font-size: 3.5em;
    line-height: 60px;
    color: var(--color-text);
    text-align: left;
    width: 95%;
    margin: 19px;
}

#listatech {
    margin-top: 3%;
    margin-bottom: 3%;
    list-style-type: none;
}

#listatech ul {
    list-style-type: none;
    border-left: 1px #FF6600 solid;
    color: lemonchiffon;
}

#sectInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-top: var(--color-text) 1px solid;
}

/*li::before {content: "\1F538";}*/
#informacoes {
    width: 25em;
    font-family: 'VT323';
    border: 2px #28444d solid;
    border-radius: 10px;
    text-align: left;
    padding: 1em;
    margin-right: 1em;
    color: var(--color-text-muted);
    line-height: 24px;
    font-weight: 100;
    font-size: 1.9em;
    background-color: #090913;
    max-width: 400px;
}

.projects {
    font-family: 'VT323';
    border: 2px #28444d solid;
    border-radius: 10px;
    text-align: left;
    padding: 1em;
    color: var(--color-text);
    line-height: 18px;
    font-weight: 200;
    font-size: 1.4em;
    background-color: #090913;
    max-width: 500px;
}

#experiencias {
    margin: auto;
    margin-top: 2%;
    background-color: rgb(44, 44, 44);
    padding: 7%;
    width: 80%;
    height: 450px;
}

#fotomeninos {
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 1%;
}

#probotica {
    width: 60%;
    margin: auto;
    color: #853602;
    font-weight: bold;
    padding: 2%;
    padding-top: 0%;
}

.monitorias {

    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    color: #853602;
    font-weight: bold;
    padding: 2%;
    background-color: lemonchiffon;
    float: right;
}

#robotica {
    background-color: lemonchiffon;
    width: 55%;
    margin-left: 1%;
    text-align: center;
    float: left;
}

#resumo {
    padding: 4%;
    width: 80%;
    font-size: 1.1em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resumo h1 {
    text-align: left;
    margin: .2em
}

#botbesteira {
    width: 24px;
    height: 1.3em;
    font-weight: bold;
    background-color: red;
    color: lemonchiffon;
    float: right;
    border: 1px solid #FF6600;
    border-radius: 10px;
    margin-right: 0px;
    margin-top: 0px;

    text-align: center;
}

#L1 {
    width: 100%;
    height: 25%;
    display: flex;
    margin: auto;
    margin-top: 2%;

}

#L2 {
    width: 100%;
    height: 25%;
    display: flex;
    margin: auto;
}

#L3 {
    width: 100%;
    height: 25%;
    display: flex;
    margin: auto;
}

#L4 {
    width: 100%;
    display: flex;
    height: 25%;
    margin: auto;
}

#L5 {
    width: 100%;
    display: flex;
    height: 25%;
    margin: auto;
}

.quadrado {
    height: 9ex;
    width: 10ex;
}

#on p {
    color: #FF6600;
    animation: mudacor 2s infinite;
}

.cursor {
    animation: pulsar 1s infinite;
}

.progressIndicator {
    animation: pulsar 2s infinite;
}

.progressIndicator1 {
    animation: pulsar 2.1s infinite;
}

.progressIndicator2 {
    animation: pulsar 2.2s infinite;
}

#tmonitorias {
    text-align: center;
    color: #853602;
}

#tcursos {
    text-align: center;
    color: #853602;
}

.footer {
    background-color: var(--color-background);
    font-family: 'VT323';
    width: 100%;
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
    font-size: 13px;
    border-top: var(--color-text) 1px solid;
    border-bottom: var(--color-primary) 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1px;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
    border-radius: 0 0 20px 20px;
}

.contato {
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.footer a {
    color: var(--color-text);
    cursor: pointer;
}

.copy {
    font-family: 'Press Start 2P';
    font-size: .7em;
    text-align: center;
    color: var(--color-text);
    width: 70%;
}

.ensino {
    color: lemonchiffon;
}

#on {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    float: left;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    margin: auto;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--color-background);
    /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid var(--color-border);
    width: 40%;
    border-radius: 13px;
    min-width: 250px;
    min-height: 3em;
    max-height: 250px;
    margin: auto;
}

.modal-border {
    background: linear-gradient(30deg, var(--color-primary), var(--color-secondary));
    border-radius: 15px;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

    padding: 3px;
    display: flex;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.6);
}

.modal-body {
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text);
    font-family: 'VT323';
}

#tituloModal {
    color: var(--color-accent-yellow);
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.blur {
    filter: blur(4px) opacity(20%);
}

.backgroundNone {
    background-image: none;
}

.whatsapp-button {
    display: inline-block;
    background-color: var(--color-border);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 80%;
    margin: auto;
}

.whatsapp-button:active,
.whatsapp-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    background-color: var(--color-primary);
}


@media(max-width: 950px) {
    #resumo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #meunome {
        font-size: 2.5em;
    }

    #informacoes {
        margin-right: 0em;
    }

    #resumo h1 {
        text-align: center;
    }
}

@media(max-width: 750px) {

    body {
        font-size: .8rem;
        margin: 0px;
        margin-bottom: 30%;
        width: 100%;
        min-width: 320px;
        height: 100%;
    }

    .whatsapp-button {
        width: 90%;
    }

    .modal-content {
        font-size: .9em;
    }

    .conteudo {
        width: 99%;
        border-left: none;
        border-right: none;
        margin-top: -2%;
        height: 100vh;
    }

    #avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .primeiroLink {
        margin: 0%;
    }

    #foto {
        width: 60%;
        min-width: 200px;
    }



    .imagemAvatar {
        width: 30%;
        min-width: 200px;
    }

    #meunome {
        text-align: left;
        font-size: 1.8em;
        line-height: 50px;

    }

    #resumo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #resumo h1 {
        text-align: center;
    }

    #informacoes {
        font-size: 25px;
        line-height: 1;
        width: 80%;
        max-width: 300px;
        margin-right: 0em;

    }

    .projects {
        max-width: 300px;
    }

    #presentation {
        font-size: 2em;
    }

    .menu {
        overflow: hidden;
        height: 50px;
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 20px;
        z-index: 1;
    }

    .saindo {
        animation: diminuir 1s normal;
    }

    .entrando {
        animation: crescer 1s normal;
        height: 150px;

        .menu-item {
            transition: all 1.5s ease;
            display: flex;
        }
    }

    .menu-item {
        flex-direction: column;
        display: none;
    }

    .item {
        padding: .7em;
    }

    #conteudo {
        width: 100%;
        margin: 0px;
        margin-top: 10%;
        margin-bottom: 18%;

    }

    #experiencias {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .exp {
        width: 80%;
        margin: 1rem;
        text-align: center;
    }

    #robotica {
        width: 80%;
        margin: 1rem;
        text-align: center;
    }

    #tudo {
        align-items: center;
    }

    h2 {
        width: 50%;
        font-size: .6rem;
    }

    #resumo {
        font-size: .8rem;
    }

    #listacursos li {
        font-size: .7rem;
    }

    #botao {
        width: 40%;
    }

    #rel {
        font-size: 1.2em;
    }

    .quadrado {
        height: 5ex;
    }

    .footer {
        opacity: 1;
        animation: none;
        border-bottom: none;
    }

    .contato {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contato h4 {
        margin-top: 2%;
        text-align: left;
    }
}